/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Inter';
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    color: #333;
    font-family: 'Inter';
}

/* Header styles */
header {
    background-color: #4BA6D2;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Content styles */
.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Project styles */
.project {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f8ff; /* AliceBlue */
}

.project h2 {
    color: #76C1E4; /* Blue */
    margin-bottom: 10px;
}

.project p {
    color: #555; /* DarkGray */
    margin-bottom: 10px;
}

.project a {
    color: #007bff; /* Blue */
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}
